#submitButton {
    margin-top: 200px;
    margin-left: 10px;
    width: 80%;
    padding: 80px;
    border-radius:1px;
    font-size: 30px;
    font-weight: 400;
    background-color: black;
    color: white;
}

#surveyQs {
    margin-bottom: 50px;
    margin-left: 60px;
}

.container {
    width: 1170px;
}
h2 {
    font-size: 96px;
}
h3 {
    font-size: 100px;
}

